<!DOCTYPE html>
<html>
<head>
	<title>Report Highcharts</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

	<link rel="stylesheet" href="/static/css/test.css">


</head>

<body>

<div class="spacer2"></div>

<div class="class1">
	<h1>Thingscloud Technologies</h1>
</div>


<div class="spacer"></div>



<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<div id="container2">
				
			</div>
		</div>
		
	</div>
</div>


<script type="text/javascript" src="/static/js/test.js"></script>


<script type="text/javascript">

	abc1(<%-JSON.stringify(data)%>);
	
	
</script>

</body>

</html>